/* Common Styles */

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #000;
  color: #0f0;
  margin: 0;
  overflow: hidden;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  animation: fadeIn 1s;
}

.footer a {
  color: #0f0;
  text-decoration: none;
  margin-left: 5px;
}

.return-home {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  animation: fadeIn 1s;
}

.return-home a {
  color: #0f0;
  text-decoration: none;
}

.tabs-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.tabs-menu {
  color: #0f0;
  text-decoration: none;
  margin-right: 10px;
}

.tabs-menu-active {
  font-weight: bold;
}

/* Styles specific to index.html and david-adly.html */

.tabs-panel {
  display: none;
}

.tabs-panel.fadeInDown {
  display: block;
  animation: fadeInDown 1s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Styles specific to about.html */

.container {
  margin: 20px;
  animation: fadeInDown 1s;
}

.container h2 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 15px;
}

/* Styles specific to master.html */

#controls {
  position: fixed;
  top: 10px;
  left: 10px;
}

#canvas {
  border: 1px solid black;
}

/* Styles from original styles.css */

canvas#matrixCanvas {
  pointer-events: none;
}
